.cardWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    text-align: center;
    padding: 2em;
    width: 200px;
    border-radius: 30px;
    box-shadow: var(--shadow);
    background-color: var(--bg-02);
    color: var(--text-color-02);
}
.imgCard{
    width: 150px;
    height: auto;
    border-radius: 10px;
}