:root{  
  --bg: #27374d;
  --bg-02: #9db2bf;
  --text-color: #dde6ed;
  --text-color-02: #071952;
  --shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  --dead-color: ;
  --alive-color: ;
  --unknown-color: ;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--bg);
  color: var(--text-color);
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button{
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: var(--shadow);
  color: var(--text-color-02);
  background-color: var(--bg-02);
  border: 1px solid var(--text-color-02);
  opacity: 0.8;
  transition: all 200ms linear;
}
button:hover{
  opacity: 1;
  transition: all 200ms linear;
  cursor: pointer;
}
input{
  width: 150px;
  height: 20px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: var(--text-color-02);
  background-color: var(--bg-02);
  border: none;
  opacity: 0.8;
  transition: all 200ms linear;
}
input:hover{
  opacity: 1;
  transition: all 200ms linear;
  cursor: pointer;
}
textarea{
  min-width: 250px;
  min-height: 60px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: var(--text-color-02);
  background-color: var(--bg-02);
}